@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Regular.woff");
}

@font-face {
  font-family: "Gordita Regular Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Regular Italic.woff");
}

@font-face {
  font-family: "Gordita Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Thin.woff");
}

@font-face {
  font-family: "Gordita Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Thin Italic.woff");
}

@font-face {
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Light.woff");
}

@font-face {
  font-family: "Gordita Light Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Light Italic.woff");
}

@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Medium.woff");
}

@font-face {
  font-family: "Gordita Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Medium Italic.woff");
}

@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Bold.woff");
}

@font-face {
  font-family: "Gordita Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Bold Italic.woff");
}

@font-face {
  font-family: "Gordita Black";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Black.woff");
}

@font-face {
  font-family: "Gordita Black Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Black Italic.woff");
}

@font-face {
  font-family: "Gordita Ultra";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Ultra.woff");
}

@font-face {
  font-family: "Gordita Ultra Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/Gordita/Gordita Ultra Italic.woff");
}