.leftRightContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
  min-width: 250px;
}

.right {
    flex: 1
}

.container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: white;
  /* box-shadow: 0px 2px 12px 0px #d7d7d7; */
}

.name {
  /* font-family: "Gordita Medium"; */
  font-size: 24px;
}

.description {
  font-size: 16px;
  /* font-family: "Gordita Regular", sans-serif; */
}
